# ignore ALL .log files
*.log
*.pcap
*.pcapng

# ignore .env
.env

# ignore ui local files
*.ui

# ignore ALL files in ANY directory named userfiles, etc
userfiles/
__pycache__/
venv/
env/
build/
dist/
*.spec